<html>
    <style>
        	html,body{
			height: 100%;
			margin: 0;
			background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(202, 112, 202) 0%, rgba(0,212,255,1) 96%);
		
        }


            .child {
                width: 50px;
                height: 50px;
                /* Center vertically and horizontally */
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
            }
</style>        
<body>
	<div class="container">
        <div class="child">
            <h1>Welcome!</h1>
            <p>Create an account or login</p>
            <button>
                <a href="/users/register">Register</a>
            </button>
            <button>
                <a href="/users/login"> Login</a>
            </button>
        </div>
	</div>

</body>
</html>